:root {
    /* Palette */
    --white-color: #fff;
    --black-color: #42413d;
    --gray-color: #f6f5f1;
    --gray-dark-color: #d6d5d2;
    --green-color: #20ae44;
    --red-color: #ff6124;
    --yellow-color: #fae361;
   
   /* App Theme / Brand */
   --primary-color: var(--green-color);
   --destructive-color: var(--red-color);
   --text-on-light-bg-color: var(--black-color);
   --text-on-dark-bg-color: var(--white-color);
 
 }
 
 .app-styleguide {
   font-family: "Helvetica", sans-serif;
   margin-top: 16px
 }
 
 .app-styleguide > * {
   margin-top: 16px
 }
 
 .app-styleguide button {
   --color: var(--text-on-dark-bg-color);
   --background-color: var(--primary-color);
 
   font-size: 1rem;
   width: 8em;
   padding: 0.25em;
   border: 0.125em solid transparent;
   border-radius: 0.5em;
   background-color: var(--background-color);
   color: var(--color);
 }
 
 .app-styleguide button:hover {
   background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2));
 }
 
 .app-styleguide a {
   font-size: 1rem;
   color: var(--primary-color);
   text-decoration: underline;
 }
 
 .app-styleguide a:hover {
   font-size: 1rem;
   filter: brightness(0.8);
   text-decoration: underline;
 }
 
 .app-styleguide input {
   --border-color: rgba(0,0,0,0);
   --background-color: var(--gray-color);
   --color: var(--text-on-light-bg-color);
 
   font-size: 1rem;
   line-height: 1.5;
   background-color: var(--background-color);
   color: var(--color);
   border: 0.0625em solid var(--border-color);
   border-radius: 0.75em;
   padding: 0.5em 0.75em;
   outline: none;
 }
 
 .app-styleguide input:focus {
   --background-color: var(--white-color);
   --border-color: var(--gray-dark-color);
 }
 
 .app-styleguide input.invalid {
   --border-color: var(--destructive-color);
   --color: var(--destructive-color);
   --background-color: var(--white-color);
 }
 
 .app-styleguide .btn-secondary {
   --background-color: var(--gray-dark-color);
   --color: var(--text-on-light-bg-color);
 }
 
 .app-styleguide .btn-destructive {
   --background-color: var(--destructive-color);
 }
 
 .app-styleguide .btn-tertiary {
   --background-color: var(--yellow-color);
   --color: var(--text-on-light-bg-color);
 }
 
 .app-styleguide h1 {
   color: var(--primary-color);
   font-size: 2.5rem; /* Adjust the size as needed */
   font-weight: bold;
 }
 
 .app-styleguide h2 {
   color: var(--text-on-light-bg-color);
   font-size: 2rem; /* Adjust the size as needed */
   font-weight: bold;
 }
 
 .app-styleguide .close-icon {
   color: var(--gray-dark-color);
 }